{%include "templates/header.html" %}
{%include "templates/navbar.html" %}
<br><br><br><br><br><br><br><br><br>
<p>Welcome to BTVN Clothing. We have been in the fashion industry for nearly 3 years and mainly focus on teen apparel. 
We are a manufacturer- direct business, we don’t have any middlemen so customers can get our clothes at the lowest cost. Moreover, our purpose is to deliver unique and comfortable experience to customers while shopping with us so that we can ensure their return. 
We currently open 6 retail stores in HCM City and we are improving ourself to extend that number.</p>
{% include "templates/footer.html" %}