{% include 'templates/header.html' %}

<link rel="stylesheet" type="text/css" href="css/policy.css">

{% include 'templates/navbar.html' %}

<br><br><br><br>
<div id="container">
	<h1 class="customer">
	        
	<br>
	<br>
	<center>
	POLICY
	</center>
	</h1>
	      
	<div id="paragraph">
	        
	This privacy policy sets out how BTNV Clothing uses and protects any information that you give us when you use this website.
	BTNV Clothing is committed to ensuring that your privacy is protected. We ask you to provide certain information by which you can be identified when using this website, and then you can be assured that it will only be used in accordance with this privacy statement.
	We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 26/03/2015.

	 What we collect
	We may collect the following informations:
	<ul>
	<li>
	Your name and age
	Your contact information including email, address and city name.
	</li>

	<li>
	Demographic information such as postcode, preferences and interests
	</li>

	<li>
	Other information relevant to customer surveys and/or offers
	</li>

	<li>
	What we do with the information we gather
	We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
	</li>
	<li>
	Internal record keeping.
	</li>

	<li>
	We may use the information to improve our products and services.
	</li>

	<li>
	We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided. 
	</li>

	<li>
	From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail.
	</li>
	<li>
	We may use the information to customize the website according to your interests.
	</li>

	<li>
	We may provide your information to our third party partners for marketing or promotional purposes.
	</li>
	<li>
	We will never sell your information.
	</li>
	</ul>
	<ul>
	<li>
	Security :
	We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
	Controlling your personal information
	You may choose to restrict the collection or use of your personal information in the following ways:
	</li>
	<li>
	Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes
	</li>
	<li>
	If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at BTNV.support@gmail.com
	We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.
	</li>

	</ul>

	If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.

	</div>
</div>
{% include 'templates/footer.html' %}